{% extends 'base.html.twig' %}

{% block title %}Genus {{ genus.name }}{% endblock %}

{% block body %}
    <h2 class="genus-name">{{ genus.name }}</h2>

    <div class="sea-creature-container">
        <div class="genus-photo"></div>
        <div class="genus-details">
            <dl class="genus-details-list">
                <dt>Subfamily:</dt>
                <dd>{{ genus.subFamily.name }}</dd>
                <dt>Known Species:</dt>
                <dd>{{ genus.speciesCount|number_format }}</dd>
                <dt>Fun Fact:</dt>
                <dd>{{ genus.funFact|markdownify }}</dd>
                <dt>Recent Notes</dt>
                <dd>{{ recentNoteCount }}</dd>
                <dt>Lead Scientists</dt>
                <dd>
                    <ul class="list-group">
                    {% for genusScientist in genus.genusScientists %}
                        <li class="list-group-item js-scientist-item">
                            <a href="{{ path('user_show', {
                                id: genusScientist.user.id
                            }) }}">
                                {{ genusScientist.user.getFullName }}
                                ({{ genusScientist.yearsStudied }} years)
                            </a>
                            <a href="#"
                               class="btn btn-link btn-xs pull-right js-remove-scientist-user"
                               data-url="{{ path('genus_scientist_remove', {
                                   genusId: genus.id,
                                   userId: genusScientist.user.id
                               }) }}">
                                <span class="fa fa-close"></span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    <div id="js-notes-wrapper"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script type="text/babel" src="{{ asset('js/notes.react.js') }}"></script>
    <script type="text/babel">
        var notesUrl = '{{ path('genus_show_notes', {'slug': genus.slug}) }}';

        ReactDOM.render(
          <NoteSection url={notesUrl} />,
          document.getElementById('js-notes-wrapper')
        );
    </script>
    <script>
        jQuery(document).ready(function(){
            $('.js-remove-scientist-user').on('click', function (e) {
                e.preventDefault();

                var el = $(this).closest('.js-scientist-item');
                $(this).find('.fa-close').removeClass('fa-close').addClass('fa-spinner').addClass('fa-spin');

                $.ajax({
                    url: $(this).data('url'),
                    method: 'DELETE'
                }).done(function() {
                    el.fadeOut();
                });
            });
        });
    </script>
{% endblock %}
