{% import _self as formMacros %}

{% macro printGenusScientistRow(genusScientistForm) %}
    <div class="col-xs-4 js-genus-scientist-item">
        <a href="#" class="js-remove-scientist pull-right"><span class="fa fa-close"></span></a>
        {{ form_errors(genusScientistForm) }}
    {% if genusScientistForm.user is defined %}
        {{ form_row(genusScientistForm.user) }}
    {% else %}
        <strong>{{ genusScientistForm.vars.data.user.email }}</strong>
    {% endif %}
        {{ form_row(genusScientistForm.yearsStudied) }}
    </div>
{% endmacro %}

{{ form_start(genusForm) }}

    {{ form_errors(genusForm) }}

    {{ form_row(genusForm.name) }}
    {{ form_row(genusForm.subFamily, {
        label: 'Taxonomic Subfamily'
    }) }}
    {{ form_row(genusForm.speciesCount, {
        'label': 'Number of Species'
    }) }}
    {{ form_row(genusForm.funFact) }}
    {{ form_row(genusForm.isPublished, {
        help: 'Should this genus be shown on the site?'
    }) }}
    {{ form_row(genusForm.firstDiscoveredAt) }}

    <h3>Scientists</h3>
    <div class="row js-genus-scientist-wrapper"
        data-prototype="{{ formMacros.printGenusScientistRow(genusForm.genusScientists.vars.prototype)|e('html_attr') }}"
        data-index="{{ genusForm.genusScientists|length }}">
        {% for genusScientistForm in genusForm.genusScientists %}
            {{ formMacros.printGenusScientistRow(genusScientistForm) }}
        {% endfor %}
        <a href="#" class="js-genus-scientist-add"><span class="fa fa-plus-circle"></span> Add Scientist</a>
    </div>
    {# prevents weird label from showing up in new #}
    {{ form_widget(genusForm.genusScientists) }}

    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>

{{ form_end(genusForm) }}